<h1>Event: <%= @event.name %></h1>

<ul>
  <li>Creator: <%= link_to  @event.creator.name, @event.creator %></li>
  <li>Date: <%= @event.date %></li>
  <li>Location: <%= @event.location %></li>
  <li>Attendees:
    <ul>
      <% if @event.attendees.empty? %>
        <li>None yet!</li>
      <% else %>
        <% @event.attendees.each do |attendee| %>
          <li><%= link_to attendee.name, user_path(attendee.id) %></li>
        <% end %>
      <% end %>
    </ul>
  </li>

  <% if user_signed_in? && current_user != @event.creator && !current_user.attended_event_ids.include?(@event.id) %>
    <%= button_to "Attend this event", event_attendances_path(event_attendance: { event_id: @event.id, attendee_id: current_user.id}) %>
  <% end %>
</ul>