<div class="events-show">
  <h1>Event: <%= @event.name %></h1>

  <div class="info">Creator: <%= link_to  @event.creator.name, @event.creator %></div>
  <div class="info">Date: <%= @event.date %></div>
  <div class="info">Location: <%= @event.location %></div>
  <div class="info">Attendees:
    <ul>
      <% if @event.attendees.empty? %>
        <li>None yet!</li>
      <% else %>
        <% @event.attendees.each do |attendee| %>
          <li><%= link_to attendee.name, user_path(attendee.id) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if user_signed_in? && current_user != @event.creator && !current_user.attended_event_ids.include?(@event.id) %>
    <%= button_to "Attend this event", event_attendances_path(event_attendance: { event_id: @event.id, attendee_id: current_user.id}) %>
  <% end %>
</div>